body {
    background-color: #212121;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px 20px;
    background-color: #212121; /* White background for header */
    border-bottom: 1px solid #DDD; /* Light grey border */
}

.app-title {
    font-size: 2.5em;
    color: white; /* Black color */
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2em;
    color: white; /* Sky blue color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    font-weight: bold;
}

form div {
    margin-bottom: 1em;
    color: white;
}

input[type="submit"] {
    background-color: #628BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4A6ED1;
}

a {
    color: white;
}

a:hover {
    color: #4A6ED1;
}

.content {
    padding: 20px;
}

p {
    color: white;
}

li {
    color: white;
}

/* Center buttons in home.html */
.home-buttons {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.home-buttons li {
    display: inline-block;
    margin: 10px;
}

.home-buttons li a {
    display: block;
    padding: 15px 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 5px;
    font-weight: bold;
}

.home-buttons li a:hover {
    background-color: #4A6ED1; /* Blue color on hover */
    color: white; /* White text on hover */
}
